  body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fcd2de;
}

header {
  text-align: center;
  padding: 15px;
}

.logo {
  height: 70px;
}

h1 {
  text-align: center;
  margin: 10px 0;
}

/* CATEGORY PAGE */
.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  padding: 20px;
}

.category-card {
  background: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 8px;
}

/* PRODUCTS */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 12px;
}



.product {
  background: white;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}

.sku {
  font-size: 12px;
  margin: 5px 0;
}

.name {
  font-size: 14px;
  font-weight: bold;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
}

.whatsapp-btn {
  background: #25D366;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

/* MULTI IMAGE SCROLL */
.image-scroll {
  display: flex;
  overflow-x: auto;
  gap: 6px;
  scroll-snap-type: x mandatory;
}

.image-scroll img {
  height: 120px;
  min-width: 120px;
  object-fit: contain;
  border-radius: 4px;
  scroll-snap-align: start;
}
